/*:root {*/
/*  --font-size: min(3vh, 2vw);*/
/*  --icon-size: min(10vh, 6vw);*/
/*}*/

:root {
    --icon-size: min(1.5em);
    --type-effectiveness-border-width: 2px;
    --type-effectiveness-item-margin: 0.1em;
    /* needs media query for bigger screens  */
    --sidebar-img-max-height: max(90px);
    --sidebar-borders-color: rgb(59, 59, 59);
    --sidebar-bg-color: #2b2d31;
}

/* pokerogue overwrites  */
body {
    display: flex;
}
#app {
    display: block;
    height: fit-content;
}
/* apply to game app when sidebar is visible */
#app.sidebar-active {
    max-width: 70%;
    float: right;    
}

#enemies.hidden,
#allies.hidden {
    display: none;
}

/* roguedex sidebar  */
.roguedex-sidebar {
    float: left;
    height: auto;
    width: 30%;
    max-width: 30%;
    background-color: var(--sidebar-bg-color);
    border: 1px solid var(--sidebar-borders-color);
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    box-sizing: border-box;
}
.roguedex-sidebar.active {
    display: block;
}
.roguedex-sidebar.hidden {
    display: none;
}
body.sidebar-Left {
    flex-direction: row;
}
body.sidebar-Right {
    flex-direction: row-reverse;
}
body.sidebar-Top {
    flex-direction: column;
}
body.sidebar-Bottom {
    flex-direction: column-reverse;
}
.roguedex-bottom-panel {    
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--sidebar-bg-color);
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: none;
    border-bottom: 1px solid var(--sidebar-borders-color);
}
.roguedex-bottom-panel.sidebar-active {
    display: block;
}
.roguedex-bottom-panel.sidebar-Left {    
    right: 0;
}
.roguedex-bottom-panel.sidebar-Right {
    left: 0;    
}
.roguedex-bottom-panel-content {
    padding: 0.5em;
    height: -webkit-fill-available;
    color: white;
    font-family: 'emerald';
    font-size: 1em;
}
.running-status.sidebar-active {
    display: none;
}
.roguedex-sidebar .sidebar-header {
    color: white;
    font-size: 2em;
    padding: 0.1em 0 0.3em 0;
    width: 100%;
    text-align: center;
    font-family: emerald;
}
.enemies-party, .allies-party {
    display: table;
    color: white;
    font-family: 'emerald';
    border-top: 1px solid var(--sidebar-borders-color);    
    margin: 0;
}
.enemies-party {
    --party-border-width : 0.3em;
    border-width: var(--party-border-width);
    border-style: solid;
    border-image: linear-gradient(to right, #b30a21, var(--sidebar-bg-color)) 1;
    border-top: none;
    border-right: none;
}
.allies-party {
    --party-border-width : 0.3em;
    border-width: var(--party-border-width);
    border-style: solid;
    border-image: linear-gradient(to right, #0095ff, var(--sidebar-bg-color)) 1;
    border-bottom : none;
    border-right : none;
}
.sidebar-allies-box.hidden, .sidebar-enemies-box.hidden {
    display: none;
}
.sidebar-Right .enemies-party {
    --party-border-width : 0.3em;
    border-width: var(--party-border-width);
    border-style: solid;
    border-image: linear-gradient(to left, #b30a21, var(--sidebar-bg-color)) 1;
    border-top: none;
    border-left: none;
}
.sidebar-Right .allies-party {
    --party-border-width : 0.3em;
    border-width: var(--party-border-width);
    border-style: solid;
    border-image: linear-gradient(to left, #0095ff, var(--sidebar-bg-color)) 1;
    border-bottom : none;
    border-left : none;
}
.pokemon-entry {
    display: table-row;
}
.pokemon-entry:nth-child(odd) {
    background-color: #1e1f22;
}
.pokemon-entry:nth-child(even) {
    background-color: #1e1f22;
}
.pokemon-entry-image,
.pokemon-type-effectiveness-wrapper,
.pokemon-info-text-wrapper {
    display: table-cell;    
    border-bottom: 1px solid var(--sidebar-borders-color);
    padding: 0.3em 0.5em 0.3em 0;
    vertical-align: top;
}
.pokemon-entry .pokemon-entry-image {
    padding: 0.5em 0;
    vertical-align: middle;
}
.pokemon-entry:last-child.div {
    border-bottom: none;
}
.pokemon-entry-icon {
    max-height: 5em;
}
.roguedex-sidebar .pokemon-type-icon {
    max-width: calc(
        (
                var(--sidebar-img-max-height) -
                    (var(--type-effectiveness-border-width) * 2) -
                    (var(--type-effectiveness-item-margin) * 6)
            ) / 3
    );
    max-height: calc(
        (
                var(--sidebar-img-max-height) -
                    (var(--type-effectiveness-border-width) * 2) -
                    (var(--type-effectiveness-item-margin) * 6)
            ) / 3
    );
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -0.07em;
    border-radius: 50%;
    margin: 0.1em 0.1em;
    
    -webkit-box-shadow:0px 0px 2px 2px rgba(36,36,36,0.9);
    -moz-box-shadow: 0px 0px 2px 2px rgba(36,36,36,0.9);
    box-shadow: 0px 0px 2px 2px rgba(36,36,36,0.9);
}
.roguedex-sidebar .pokemon-type-weaknesses,
.roguedex-sidebar .pokemon-type-resistances,
.roguedex-sidebar .pokemon-type-immunities {
    border-width: var(--type-effectiveness-border-width);
    min-width: min-content;
    max-width: inherit;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(var(--icon-size) * 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    position: relative;
    padding: 0.1em 0.1em 0.1em 0.1em;
    width: -webkit-fill-available;
}
.roguedex-sidebar .pokemon-type-weaknesses {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgb(71, 0, 0) 0%, rgba(154,2,2,1) 12%, rgba(255,0,0,0.17) 100%);
    border: 1px solid rgb(192, 2, 2);
}
.roguedex-sidebar .pokemon-type-resistances {
    background: rgb(0,36,7);
    background: linear-gradient(90deg, rgb(0, 75, 15) 0%, rgba(13,154,2,1) 12%, rgba(1,255,0,0.17) 100%);
    border: 1px solid rgb(14, 207, 1);
}
.roguedex-sidebar .pokemon-type-immunities {
    background: rgb(68,68,68);
    background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(115,115,115,1) 12%, rgba(161,161,161,0.17) 100%);
    border: 1px solid rgb(148, 148, 148);
}
.roguedex-sidebar .pokemon-type-weaknesses::before,
.roguedex-sidebar .pokemon-type-resistances::before,
.roguedex-sidebar .pokemon-type-immunities::before {
    display: none;
    width: 1em;
    margin-right: 1em;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.roguedex-sidebar .pokemon-type-weaknesses::before {
    content: ' ';
    background-color: rgb(36,0,0);
    border: 1px solid rgb(192, 2, 2);
}
.roguedex-sidebar .pokemon-type-resistances::before {
    content: ' ';
    background-color: rgb(0,36,7);
    border: 1px solid rgb(14, 207, 1);
}
.roguedex-sidebar .pokemon-type-immunities::before {
    content: ' ';
    background-color: rgb(68,68,68);
    border: 1px solid rgb(148, 148, 148);
}
.roguedex-sidebar .pokemon-entry-image canvas {
    max-height: var(--sidebar-img-max-height);
    max-width: var(--sidebar-img-max-height);
    height: var(--sidebar-img-max-height);
    width: var(--sidebar-img-max-height);
}
.pokemon-info-text-wrapper {    
    padding: 0.2em 0.2m 0.2em 0px !important;
    font-size: 1.5em;
}
.roguedex-sidebar .pokemon-ivs, .roguedex-sidebar .pokemon-ability-nature {
    display: flex;
    flex-wrap: wrap;
}
.roguedex-sidebar .pokemon-ability, .roguedex-sidebar .pokemon-nature {
    display: flex;
}
.roguedex-sidebar .stat-p {
    display: flex;
    padding-right: 0.3em;
    padding-top: 0.3em;
}
.roguedex-sidebar .stat-c {
    position: relative;
    text-shadow:
        0.1em 0 rgba(255, 255, 255, 0),
        -0.1em 0 rgba(255, 255, 255, 0),
        0 0.1em rgba(255, 255, 255, 0),
        0 -0.1em rgba(255, 255, 255, 0),
        0.05em 0.05em rgba(255, 255, 255, 0),
        -0.05em -0.05em rgba(255, 255, 255, 0),
        0.05em -0.05em rgba(255, 255, 255, 0),
        -0.05em 0.05em rgba(255, 255, 255, 0);
}
.roguedex-sidebar .stat-icon {
    position: absolute;
    top: -0.3em;
    right: -0.5em;
}

.pokemon-type-icon.super-dmg, .pokemon-type-icon.super-resist {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
}
@keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 0.8;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.8;}
}
@keyframes opacityPulse {
    0% {opacity: 0.5;}
    50% {opacity: 1.0;}
    100% {opacity: 0.5;}
}

/* sidebar end */




.allies-team {
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

.enemy-team {
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
}

.pokemon-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.pokemon-card {
    background-color: #333333b8;
    border: 2px solid #555;
    border-radius: 8px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.pokemon-icon img {
    width: 5em;
    height: 5em;
}

.pokemon-info {
    margin-top: 10px;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.type-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -0.07em;
    border-radius: 50%;
    margin: 0.1em 0.1em;
}

.pokemon-weaknesses,
.pokemon-resistances,
.pokemon-immunities {
    min-width: var(--icon-size);
    display: flex;
    min-height: 5em;
}

.pokemon-weaknesses {
    background-color: #6a1f1f;
    border: 2px solid red;
    border-radius: 10px;
}

.pokemon-resistances {
    background-color: #216a1f;
    border: 2px solid green;
    border-radius: 10px;
}

.pokemon-immunities {
    background-color: #484848;
    border: 2px solid white;
    border-radius: 10px;
}

.pokemon-weaknesses .type-icon,
.pokemon-resistances .type-icon,
.pokemon-immunities .type-icon {
    opacity: 1;
}

.text-base {
    display: flex;
    font-family: 'emerald';
    font-size: 1em;
    text-shadow:
        0.1em 0 #fff,
        -0.1em 0 #fff,
        0 0.1em #fff,
        0 -0.1em #fff,
        0.05em 0.05em #fff,
        -0.05em -0.05em #fff,
        0.05em -0.05em #fff,
        -0.05em 0.05em #fff;
    color: black;
}

.arrow-button-wrapper {
    display: grid;
}
/*.arrow-button {*/
/*  font-size: 2.5em;*/
/*}*/

.centered-flex {
    display: flex;
    justify-content: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 0.25em 0;
    font-size: 1em;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.image-overlay {
    position: absolute;
    left: 20px;
    top: -30px;
    width: 96px;
    height: 96px;
}

/* Slider settings */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type='range'] {
        overflow: hidden;
        width: 4em;
        -webkit-appearance: none;
    }

    /*input[type='range']::-webkit-slider-runnable-track {*/
    /*  height: 0.1em;*/
    /*  -webkit-appearance: none;*/
    /*  color: #13bba4;*/
    /*  margin-top: -1px;*/
    /*}*/

    /*input[type='range']::-webkit-slider-thumb {*/
    /*  width: .1em;*/
    /*  -webkit-appearance: none;*/
    /*  height: 1vh;*/
    /*  cursor: ew-resize;*/
    /*  box-shadow: -.8em 0 0 .8em #b3462c;*/
    /*}*/
}
/** FF*/
input[type='range']::-moz-range-progress {
    background-color: #b3462c;
}
input[type='range']::-moz-range-track {
    background-color: #fff;
}
input[type='range'] {
    background-color: transparent;
}

.slider-wrapper {
    display: flex;
}

.running-status {
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: blue;
    background-color: #ffffff50;
}

.hidden-ability {
    color: #f700ff;
}

.running-status {
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: blue;
    background-color: #ffffff50;
}

.stat-p {
    display: flex;
    padding-right: 0.3em;
    padding-top: 0.3em;
}

.stat-c {
    position: relative;
    text-shadow:
        0.1em 0 rgba(255, 255, 255, 0),
        -0.1em 0 rgba(255, 255, 255, 0),
        0 0.1em rgba(255, 255, 255, 0),
        0 -0.1em rgba(255, 255, 255, 0),
        0.05em 0.05em rgba(255, 255, 255, 0),
        -0.05em -0.05em rgba(255, 255, 255, 0),
        0.05em -0.05em rgba(255, 255, 255, 0),
        -0.05em 0.05em rgba(255, 255, 255, 0);
}

.stat-icon {
    position: absolute;
    top: -0.3em;
    right: -0.5em;
}

.op-slider {
    width: 100% !important;
}
